<div class="container" [formGroup]="form">
  <mat-label class="text-withmat" *ngIf="this.s['selectedOption'].value == '1'">1.Underdeclared Thai taxable electronic service</mat-label>
  <mat-label class="text-withmat" *ngIf="this.s['selectedOption'].value == '0'">1.Total value of taxable electronic service exclusive of VAT</mat-label>
  <div>
  <input #saleinput class="rightWay" type="text"  (change)="addCommas(saleinput.value)" formControlName="saleAmount" [(ngModel)]="inputValue" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');" placeholder="THB" required>
  <span *ngIf="s['saleAmount'].errors?.required" style="color:red;" class="error-message">Invalid Data</span>
</div>
  </div>
