<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40">


  <h1>RD | SVE</h1>
  <div class="spacer"></div>

  <div>Time in Thailand : {{ currentDate }}
  </div>
  <div style="margin: 5px;"></div>
  <mat-icon>person</mat-icon>
  <div class="backspace text-withmat">

    <div class="dropdown">
      <a class="headerFront" id="dropdownMenuButton" (click)="toggleDropdown()">
        {{user}} <mat-icon>arrow_drop_down</mat-icon>
      </a>

    </div>



  </div>
</div>




<div>


  <div class="content" role="main">


    <div class="top-card">

      <span>Submit Tax Filing</span>


    </div>


    <div class="card-container">

      <app-filing-type [form]="form"></app-filing-type>

    </div>







    <!-- Footer -->
    <footer>

      <a href="/assets/me.jpg" type="application/jpg" target="_blank" rel="noopener">

        <div class="github-star-badge">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" /></svg>
          Contact
        </div>
      </a>

    </footer>



  </div>
